In [6]:
!pip install hvplot

Requirement already satisfied: hvplot in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (0.7.3)
Requirement already satisfied: bokeh>=1.0.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from hvplot) (2.3.2)
Requirement already satisfied: colorcet>=2 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from hvplot) (2.0.6)
Requirement already satisfied: holoviews>=1.11.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from hvplot) (1.14.6)
Requirement already satisfied: pandas in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from hvplot) (1.2.4)
Requirement already satisfied: numpy>=1.15 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from hvplot) (1.20.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (2.8.1)
Requirement already satisfied: tornado>=5.1 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (6.1)
Requirement already satisfied: pillow>=7.1.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (8.2.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (5.4.1)
Requirement already satisfied: packaging>=16.8 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (20.9)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (3.7.4.3)
Requirement already satisfied: Jinja2>=2.9 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bokeh>=1.0.0->hvplot) (2.11.3)
Requirement already satisfied: param>=1.7.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from colorcet>=2->hvplot) (1.12.0)
Requirement already satisfied: pyct>=0.4.4 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from colorcet>=2->hvplot) (0.4.8)
Requirement already satisfied: pyviz_comms>=0.7.4 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from holoviews>=1.11.0->hvplot) (2.1.0)
Requirement already satisfied: panel>=0.8.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from holoviews>=1.11.0->hvplot) (0.12.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from Jinja2>=2.9->bokeh>=1.0.0->hvplot) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from packaging>=16.8->bokeh>=1.0.0->hvplot) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from pandas->hvplot) (2021.1)
Requirement already satisfied: markdown in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.3.4)
Requirement already satisfied: requests in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.25.1)
Requirement already satisfied: tqdm>=4.48.0 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.59.0)
Requirement already satisfied: bleach in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.3.0)
Requirement already satisfied: six>=1.5 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from python-dateutil>=2.1->bokeh>=1.0.0->hvplot) (1.15.0)
Requirement already satisfied: webencodings in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from bleach->panel>=0.8.0->holoviews>=1.11.0->hvplot) (0.5.1)
Requirement already satisfied: importlib-metadata in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.10.0)
Requirement already satisfied: zipp>=0.5 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata->markdown->panel>=0.8.0->holoviews>=1.11.0->hvplot) (3.4.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\laure\anaconda3\envs\pythondata\lib\site-packages (from requests->panel>=0.8.0->holoviews>=1.11.0->hvplot) (2020.12.5)

In [7]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'hvplot'

In [8]:
file_path = "C:/Users/laure/OneDrive/Desktop/DataVis/ClassWork/Cryptocurrencies/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
# Data loading 
file_path = "C:/Users/laure/OneDrive/Desktop/DataVis/ClassWork/Cryptocurrencies/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [11]:
# Columns 
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [12]:
# List dataframe data types
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [13]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [14]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [15]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [16]:
# REmove the CustomerID Column
df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [17]:
# Transform String Column 
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0